#login-table {
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

#login-title {
    color: darkblue;
    font-family: Georgia, Arial, Times;
}

#login-fail {
    color: red;
    font-family: Georgia, Arial, Times;
}

.login-label {
    font-family: Georgia, Arial, Times;
}

#login-buttons {
    padding-top: 20px !important;
}

