

.methodDetailCell, .methodAttributeKey, .methodAttributeVal, .methodErrorClassName,
.methodErrorMessage, .methodErrorStack, .traceSmallCell {
    font-family: tahoma,arial,verdana,sans-serif !important;
    font-size: 11px !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    user-select: none !important;
    -ms-user-select: none !important;
}

.methodDetailCell {
    white-space: nowrap !important;
    outline-style: none !important;
}

.methodAttributeKey {
    color: blue;
    text-align: right;
}

.methodAttributeVal {
    color: black;
}

.methodErrorClassName {
    color: red;
}

.methodErrorMessage {
    font-weight: bold;
}

.methodErrorStack {
    color: #444444;
}

.traceSmallCell {
    text-align: center;
    margin-top: 3px;
}

.searchStatusBar {
    background-color: #eeeeee !important;
}

.searchStatusBarInt {
    font-family: tahoma,arial,verdana,sans-serif !important;
    font-size: 14px !important;
}