
@def selCellColor #bbbbbb;

.dataGridHeader {
    font-family: tahoma,arial,verdana,sans-serif;
    font-size: 11px;
    font-weight: normal !important;
    color: black;
    background-color: #eeeeee !important;
    text-align: center !important;
    text-shadow: none !important;
    border-left: 1px solid #F0F0F0;
    border-right: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0 !important;
}


.dataGridFirstColumnHeader {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-bottom: 1px solid #C0C0C0 !important;
}


.dataGridLastColumnHeader {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-bottom: 1px solid #C0C0C0 !important;
}


.dataGridCell {
    font-family: tahoma,arial,verdana,sans-serif;
    font-size: 11px;
    padding: 2px 13px;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: top;
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -ms-user-select: none;
}

.dataGridEvenRowCell {
    border: none !important;
}

.dataGridOddRowCell {
    border: none !important;
}


.dataGridHoveredRowCell {
    border: none !important;
}

.dataGridKeyboardSelectedRowCell {
    border: none !important;
}

.dataGridSelectedRow {
    background: #DFE8F6 !important;
    color: black !important;
    height: auto;
    overflow: auto;
}


.dataGridSelectedRowCell {
    border: none !important;
}


.dataGridKeyboardSelectedRowCell {
    border: none !important;
}
